<header class="header">
    <div class="date-container">
      <div>
          <h1 id="date"></h1>
      </div>
      <div>
          <select id="filterType">
              <option value="year">Cumulé</option>
              <option value="month">Mois</option>
          </select>
      </div>  
  </div>
  </header>
  