<aside class="sidenav">
    <a href="/dashboard" class="logo">Dashboard <b>SAA</b></a>
    <div class="user-p">
      <img src="/images/user.jpeg" />
      <h4><%= user.name %></h4>
    </div>
    <div id="menu">
      <a href="/dashboard/activite-globale">Vue d'ensemble </a>
      <div>
        <p>Production</p>
      </div>
      <a href="/dashboard/nombre-de-contrats"> Contrats</a>
      <a href="/dashboard/chiffre-daffaire">Chiffre d'affaires</a>
      <div>
        <p>Sinistres</p>
      </div>
      <a href="/dashboard/reglements">Règlements</a>

    </div>
    <div class="bottom-container">
      <% if (user.role === 'administrateur') { %>
        <a style="background-color: #f3b635" href="/usersmanagement">Gestion des comptes</a>
      <% } %>
      <a id="logout-btn" href="/auth/logout" style="background-color: #d80127"
        >Déconnexion</a
      >
    </div>
  </aside>
  