<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart.js Example</title>
    <link rel="stylesheet" href="/css/dashboards/dashboard_CA.css" type="text/css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <link rel="stylesheet" href="/css/partials.css" type="text/css" />
    <link rel="shortcut icon" href="/images/saa-logo.png" type="image/x-icon" />
    
</head>
<body>
    <div class="grid-container">
    <%- include('../partials/header') %> <%- include('../partials/sidebar') %>
    <main class="main">
        <div class="card" id="card1">	
            <div class="card-header">
                <p>Chiffre d'affaire par temps</p>
            </div>
            <div class="card-content">	
                <canvas id="ca_par_annee" height="300"></canvas>
            </div>
        </div>

        <div class="card" id="card2">	
            <div class="card-header">
                <p>Chiffre d'affaire par année pour chaque branche</p>
            </div>
            <div class="card-content">	
                <canvas id="ca_par_branche" height="350"></canvas>
            </div>
        </div>
        <div class="card" id="card3">	
            <div class="card-header">
                <p>Chiffre d'affaire par trimestre pour chaque année</p>
            </div>
            <div class="card-content">	
                <canvas id="cd-par-trimestre" height="250"></canvas>
            </div>
            <div class="buttonBox">
                <button >trimestre 1</button>
                <button >trimestre 2</button>
                <button >trimestre 3</button>
                <button >trimestre 4</button>
            </div>
        </div>

    </main>
    <%- include('../partials/footer') %>
    </div>

    

    <script src="/javascripts/dashboard_CA.js"></script>
</body>
</html>