<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart.js Example</title>
    <link rel="stylesheet" href="/css/dashboards/globalActivity.css" type="text/css">
    <link rel="stylesheet" href="/css/partials.css" type="text/css" />
    <link rel="shortcut icon" href="/images/saa-logo.png" type="image/x-icon" />
    <!-- Fontawesome CDN Link -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        />
        <!-- datatables -->
        <link
            rel="stylesheet"
            href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.1/chroma.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
    <div class="grid-container">
    <%- include('../partials/sidebar') %>
    <main class="main">

        <div class="card" id="card1">	
            <div class="card-header">
                <p>La Moyenne Activité Globale par Année</p>
            </div>
            <div class="card-content">	
                <div class="Box">
                    <div class="columns" >
                        <div class="column" id="column1">
                            <div class="icon-wrapper">
                                <ion-icon name="cash-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="column" id="column2">
                            <div class="row line" id="row1">
                                <span class="label" id="label1"></span>
                            </div>
                            <div class="row  " id="row2">
                                <span class="value" id="ca"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Box">
                    <div class="columns" >
                        <div class="column" id="column1">
                            <div class="icon-wrapper">
                                <ion-icon name="newspaper-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="column" id="column2">
                            <div class="row line" id="row1">
                                <span class="label" id="label2"></span>
                            </div>
                            <div class="row" id="row2">
                                <span class="value" id="nc"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Box">
                    <div class="columns" >
                        <div class="column" id="column1">
                            <div class="icon-wrapper">
                                <ion-icon name="checkmark-done-circle-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="column" id="column2">
                            <div class="row line" id="row1">
                                <span class="label" id="label3"></span>
                            </div>
                            <div class="row" id="row2">
                                <span class="value" id="rs"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="card2">
            <div class="card-header">
                <p>Les Branches les plus Performantes</p>
            </div>
            <div class="card-content2">
                <table id="branches_table">
                    <thead>
                        <tr>
                            <th style="width: 17%"></th>
                            <th style="width: 5%">Chiffre d'Affaire</th>
                            <th style="width: 7%">Nombre de Contrats</th>
                            <th style="width: 5%">Règlements Sinistre</th>
                            <!-- <th style="width: 15%">Pourcentage</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Les données seront ajoutées ici dynamiquement -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" id="card3">
            <div class="card-header">
                <p>Les Type d'Intermédiaire les plus Actifs</p>
            </div>
            <div class="card-content2">
                <table id="inter_table">
                    <thead>
                        <tr>
                            <th style="width: 17%"></th>
                            <th style="width: 2%">Chiffre d'Affaire</th>
                            <th style="width: 7%">Nombre de Contrats</th>
                            <th style="width: 5%">Règlements Sinistre</th>
                            <!-- <th style="width: 15%">Pourcentage</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Les données seront ajoutées ici dynamiquement -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    </div>
    <script src="/javascripts/globalActivity.js"></script>
    <!-- for icons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- JavaScript Bootstrap (required )-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</body>
</html>