<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/css/register.css' type="text/css">
    <link rel="stylesheet" href="/css/partials.css" type="text/css" />
     <link rel="shortcut icon" href="/images/saa-logo.png" type="image/x-icon" />
     <title>Ajouter un nouvel utilisateur</title>
</head>
<body>        
        <form action="/usersmanagement/register" method="POST">
            <div class="grid-container">
                <%- include('./partials/sidebar') %>
                <main class="main">
                    <div class="form-box">
                        <div class="form-value">
                            <form action="">
                                <h2>Ajouter un nouvel utilisateur</h2>
                                <section>
                                    <div class="inputbox">
                                        <label for="name">Nom d'utilisateur:</label>
                                        <input type="name" id="name" name="name" required>   
                                    </div>
                                    <div class="inputbox">
                                        <label for="email">Email:</label>
                                        <input type="email" id="email" name="email" required>
                                    </div>
                                    <div class="inputbox">
                                        <label for="password">Mot de passe:</label>
                                        <input type="password" id="password" name="password" required>                        
                                    </div>
                                    <div class="inputbox">
                                        <label for="role">Role:</label>
                                        <select id="role" name="role">
                                            <option value="administrateur">Administrateur</option>
                                            <option value="utilisateur">Utilisateur</option>
                                        </select><br><br>
                                    </div>
                                    <button type="submit">Sauvegarder</button>
                                    <button class="cancel-button" >Annuler</button>
                            </section>
                            </form>
                        </div>
                    </div>
                </form>
                </main>
            
            </div>
    <script src="/javascripts/cancel.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>